<!-- <div class="page">
  <div class="left-login">
    <img
      src="../../../../../assets/images/forms-animated.svg"
      class="left-login-image"
      alt="Animação Formulário"
    />
  </div>

  <div class="right-login">
    <mat-card>
      <div class="image">
        <img
          src="assets/images/logo.png"
          alt="Image"
          height="80"
          class="mb-3"
        />
      </div>
      <mat-card-header>
        <mat-card-title>Cadastro</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #loginForm="ngForm" (submit)="register(loginForm)">
          <mat-form-field appearance="outline">
            <mat-label>Nome completo</mat-label>
            <input matInput type="nome" name="nome" ngModel required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" ngModel required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput type="telefone" name="telefone" ngModel required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Endereço</mat-label>
            <input matInput type="endereco" name="endereco" ngModel required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" name="password" ngModel required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirmar senha</mat-label>
            <input matInput type="password" name="confirm-password" ngModel required />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Cadastrar
          </button>
          <button mat-button routerLink="/login">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
